  @media only screen and (min-width: 1000px) and (max-width: 1650px) {
    .project__list__wrapper {
      flex-direction: row;
      flex-wrap: wrap;
      

    }
    
    .project {
      width: 90%;
      flex-wrap: wrap;
      /* margin: 2rem; */
      padding: 2rem;
      transition: 0.5s;
    }

    .number {
      width: auto;
      margin-right: 1rem;
    }

    .box__heading {
      font-size: clamp(20px, 1vw + 1rem, 2rem);
      margin-left: 0px;
      padding: 1rem;
      
    }

    .description {
      font-size: clamp(0.7rem, 2vw, 1rem);
    }

  }