@media screen and (max-width: 999px)

{


* {
  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
  }
  
  :root {
    --text-color: rgb(255, 255, 255);
    --nav-background-color: rgb(231, 231, 226);
    --div-margin: 1rem;
    --div-padding: 1rem;
    --overlay-tint: rgba(0, 32, 58, 0.774);
    --block-line: rgb(20,20,20);
    --cream: rgba(230,230,220);
    height: 100%;
    scroll-behavior: smooth;
  
  }
   
  .nav__scroll {
    padding: 50px 100px;
  }
  
  .logo__title {
    justify-content: center;
    font-size: 1rem;
    font-weight: 700;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right: 0px;
    left: 0px;
    top: 10px;
  }
  
  .menu__btn {
    position: relative;
    padding: 2px;
    left: -60px;
    bottom: -20px;
  }

  .burger {
    display: block;
    background-color: rgb(255, 255, 255);
    height: 2px;
    width: 25px;
    margin: 5px;
    transition: 0.5s;
  }

  .burger__black {
    background-color: rgb(20,20,20);
  }

  .nav-list {
    position: absolute;
    background-color: rgba(0, 32, 58, 0.774);
    height: 400px;
    width: 200px;
    left: -20px;
    top: 60px;
    flex-direction: column;
    transform: translateX(-350px);
    transition: 0.5s;
    
}

  .nav-list__adjust {
    top: 80px;
    background-color: var(--nav-background-color);
  }
  
  .nav-list__popout {
    transform: translateX(0px);
    box-shadow: 0 10px 10px -2px rgba(0,0,0,.2);
  }

  .nav-list li {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
  
  /*
  --- About
  */
  
  .title__container {
    margin-top: 15%;
  }
  
  .about__para__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: clamp(1rem, 1vw + .5rem, 3.125rem);
    overflow: hidden;
    
  }
  
  .about__para {
    width: 70%;
    overflow: hidden;
  }
  
  .right__text {
    width: 90%;
  }

  .cen-right__text {
    width: 70%;
    top: 55%;
  }
  
  .cen-left__text {
    width: 70%;
  }
  
  .left__text {
    width: 90%;
    top: 50%;
  }
  
  
  /* 
  
      Projects
  
  */
  
  .project__list__wrapper {
    height: 100%;
  }

  .textbox__projects {
    overflow-x: hidden;
    transform: rotate(90deg);
    position: absolute;
    width: 700px;
    top: 20%;
    /* top: 150px; */
    left: -230px;

  }

  .projects__heading {
    
    font-size: 8rem;
  }

  @media screen and (min-width: 767px) {
    .textbox__projects {
      width: 900px;
      top: 35%;
      left: -280px;
    }

    .projects__heading {
      font-size: 12.7rem;
    }
  
  }


  .project__list__wrapper {
    flex-direction: column;
    
  }

  .project {
      display: flex;
      flex-wrap: nowrap;
      background-color: rgba(20, 20, 20, 0.950);
      padding: 30px;
      margin-left: auto;
      margin-right: auto;
      height: clamp(200px, 1vw + 25rem, 17em);
      width: 90%;
      max-width: 90%;
      min-width: 10rem;
      justify-content: center;
      align-items: center; 
      margin-bottom: clamp(5px, 2%, 110px);
      /* margin-bottom: 2%; */

}

  .project:nth-child(1) {
    margin-top: 110px;
  }

  .number {
    font-size: clamp(10px, 2vw + 1em, 7em);
    width: 30%;
    margin-right: 1rem;
  }

  .box__heading {
    font-size: clamp(10px, 1vw + 1em, 2rem);
    writing-mode:sideways-lr;
    margin-right: 1rem;
  }

  .description {
    width: 100%;
    margin: auto;
    
  }

  .demo {
    padding: 0.5rem;
    font-size: 0.8rem;
    font-weight: 500;
    margin-left: 1rem;

  }
